/* $Id $ */

/* Set border-box so that percents can be used for width, padding, etc (personal preference) */
.booklists-responsive, .booklists-responsive * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* In case script does not load */
.booklists-responsive img:first-child {
  position: static;
  z-index: 100;
}
.booklists-responsive {
  margin: auto;
}
.booklists-responsive img {
  padding: 5px;
  vertical-align: middle;
  /*
  Some of these styles will be set by the plugin (by default) but setting them here
  Helps avoid flash-of-unstyled-content
  */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
.booklists-responsive img {
  width: auto;
  height: auto;
  cursor: pointer;
}
.booklists-responsive img:hover {
	background:#cfe9f5;
	border:1px solid #fff;
	border-radius:4px;
	box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.booklists-responsive {
  float: left;
  /*width: 85%;*/
  width: 100%;
  margin: 0 5px;
  padding: 0 5px 0 0;
}
.booklists-wrapper {
  max-width: 768px;
  text-align: center;
}
.booklists-wrapper-inner {
  margin: 0 auto;
  width: 100%;
}
.block-booklists {
  clear: left;
}
.block-booklists h2, .maincontent .block-booklists h2 {
  font-size: 1.3286em;
}
a#prev.disabled, a#next.disabled {
  opacity: .5;
  filter: alpha(opacity=50);
}
.block-booklists a#prev, .block-booklists a#next {
  display: none;
  background-image: url('images/carousel-arrows-50-percent.png');
  width: 13px;
  height: 20px;
  text-indent: -9999px;
  outline: none;
  float: left;
  margin-top: 50px;
}
#block-booklists-booklists-amazon-block-2 a#prev, #block-booklists-booklists-amazon-block-2 a#next {
  margin-top: 30px;
}
.block-booklists a#prev {
  clear: both;
  background-position: 0px 0px;
}
.block-booklists a#next {
  background-position: 0px -20px;
}
#booklists-alt-caption {
  text-align: center;
  font-style: italic;
  min-height: 22px;
}
#booklists-alt-caption .booklists-attribution {
  display: inline;
  font-style: normal;
}
.booklists-option {
  clear: right;
  float: right;
  font-size: 0.7857em;
  margin: -5px 0 10px 0;
  background-color: #BDDEED;
  text-align: left;
}
.booklists-option .customSelect {
	border:1px solid #ddd;
	border-radius:3px;
	padding:1px 6px 2px;
	background: url('images/selectarrow.png') no-repeat right 7px;
}
.booklists-wrapper .sharetools, .maincontent .booklists-wrapper UL.sharetools {
  float: right;
}
.booklists-detail-column {
	background: #cfe9f5;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 15px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	font-size: 0.9em;
}
.booklists-detail-column img {
  width: 100%;
	height: auto;
	max-width: 285px;
	padding-bottom: 15px;
}
.booklists-detail-column .button, .maincontent .booklists-detail-column a.button {
  float: left;
  padding: 13px 15px;
  margin: 0 15px 15px 0;
}
.booklists-detail-column .action-link.first {
  margin-top: 11px;
}
.booklists-detail-column i {
  margin-right: 3px;
}
.booklists-detail-column .disclaimer {
  margin-top: 15px;
  color: #555555;
  clear: left;
}
@media only screen and (min-width:480px) {  /* Mobile landscape */
  .block-booklists a#prev, .block-booklists a#next {
    margin-top: 70px;
    background-image: url('images/carousel-arrows.png');
    width: 25px;
    height: 40px;
  }
  .block-booklists a#next {
    background-position: 0px -40px;
  }
  #block-booklists-booklists-amazon-block-2 a#prev, #block-booklists-booklists-amazon-block-2 a#next {
    margin-top: 35px;
  }
}
@media only screen and (min-width:768px) {  /* Tablet portrait */
  .booklists-responsive {
    /*width: 83%;*/
    width: 100%;
  }
  .block-booklists a#prev, .block-booklists a#next {
    margin-top: 60px;
  }
  #block-booklists-booklists-amazon-block-2 a#prev, #block-booklists-booklists-amazon-block-2 a#next {
    margin-top: 30px;
  }
}
@media only screen and (min-width:1024px) {  /* Tablet landscape */
  .booklists-responsive {
    width: 90%;
  }
  .booklists-responsive img {
    padding: 15px;
  }
  .block-booklists a#prev, .block-booklists a#next {
    display: block;
    margin-top: 80px;
  }
  #block-booklists-booklists-amazon-block-2 a#prev, #block-booklists-booklists-amazon-block-2 a#next {
    margin-top: 45px;
  }
  .booklists-wrapper .sharetools, .maincontent .booklists-wrapper UL.sharetools {
    margin-top: -43px;
  }
  .booklists-detail-column {
  	width: 285px;
  	float: left;
  	margin: 0 30px 10px 0;
  }
  .booklists-option {
    clear: none;
    margin: -41px 0 10px 0;
  }
}
@media only screen and (min-width:1200px) {  /* Desktop */
  .booklists-responsive {
    width: 92%;
  }
  .block-booklists a#prev, .block-booklists a#next {
    margin-top: 100px;
  }
  #block-booklists-booklists-amazon-block-2 a#prev, #block-booklists-booklists-amazon-block-2 a#next {
    margin-top: 60px;
  }
}